td {
  padding: 0 30px 0 30px;
  text-align: center;
  font-size: 12px;
  font-family: 'Segoe UI';
}

th {
  max-width: 100%;
  white-space: nowrap;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.tbl {
  position: fixed;
  width: 100%;
  white-space: nowrap;
  border: 3px solid #fff;
  background: #000;
  box-sizing: border-box; /* causes item size to include border and padding */
  -moz-box-sizing: border-box; /*for browser compatibility*/
  table-layout: auto !important;
}

th, td, thead th, tbody td, tfoot td, tfoot th {
  width: auto !important;
}

* {
  margin: 0;
  padding: 0;
}
