<html>
<body>
  <h1 align="center">Cert App Page</h1>
  <!-- <img src="../assets/images/maxresdefault.jpg" alt="cert image" height="100" width="100" /> -->
  <br />
  <br />
  <hr />

  <!-- Section to add Certificate

  <div class="container">
    <h2 class="page-header">Add Certificate</h2>
    <form (submit)="addCert()">
      <div class="form-group">
        <label>Certificate Name</label>
        <input type="text" [(ngModel)]="Certificate Name" name="cert_name" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Certificate Typ</label>
        <input type="text" [(ngModel)]="Certificate Type" name="cert_type" class="form-control" required>
      </div>
      <div class="form-group">
          <label>Environment</label>
          <input type="text" [(ngModel)]="Environment" name="environment" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Certificate Zone</label>
          <input type="text" [(ngModel)]="Certificate Zone" name="cert_zone" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <input type="text" [(ngModel)]="Start Date" name="start_date" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Expiry Date</label>
          <input type="text" [(ngModel)]="Expiry Date" name="expiry_date" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Certificate Owner</label>
          <input type="text" [(ngModel)]="Certificate Owner" name="cert_owner" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Issued By</label>
          <input type="text" [(ngModel)]="Issued By" name="issued_by" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Certificate Details</label>
          <input type="text" [(ngModel)]="Certificate Details" name="cert_details" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Purpose</label>
          <input type="text" [(ngModel)]="Purpose" name="cert_purpose" class="form-control" required>
        </div>
        <div class="form-group">
          <label>SR Number</label>
          <input type="text" [(ngModel)]="SR Number" name="sr_number" class="form-control" required>
        </div>
        <input type="submit" class="btn btn btn-success" value="Add">
      </form>
    </div>
    <br />
    <hr />

      -->
  <!-- Section to get certificates-->

  <div class="container" style="overflow-x:auto;">
    <table border="1" align="center" width="100%" cellspacing="0" cellpadding="0">
      <thead>
        <tr bgcolor="#F08080">
          <th style="text-align:center">Certificate Name</th>
          <th style="text-align:center">Fingerprint(SHA1)</th>
          <th style="text-align:center">Certificate Type</th>
          <th style="text-align:center">Environment</th>
          <th style="text-align:center">Certificate Zone</th>
          <th style="text-align:center">Start Date</th>
          <th style="text-align:center">Expiry Date</th>
          <th style="text-align:center">Certificate Owner</th>
          <th style="text-align:center">Installed System</th>
          <th style="text-align:center">SR Number</th>
        </tr>
      </thead>
      <tr *ngFor="let cert of certs" class="container">
        <td>{{cert.cert_name}}</td>
        <td>{{cert.cert_serial}}</td>
        <td>{{cert.cert_type}}</td>
        <td>{{cert.environment}}</td>
        <td>{{cert.cert_zone}}</td>
        <td>{{cert.start_date | date: 'dd MMM yyyy'}}</td>
        <td>{{cert.expiry_date | date:'dd MMM yyyy'}}</td>
        <td>{{cert.cert_owner}}</td>
        <td>{{cert.installed_system}}</td>
        <td>{{cert.sr_number}}</td>
      </tr>
    </table>
  </div>
</body>
</html>
